<div class="image_attribution">
    <h3>Image attribution</h3>

    <h4>Categories</h4>
    <ul>
        <li>Milk by <a href="http://www.sxc.hu/profile/nkzs">nkzs</a> - <a href="http://www.sxc.hu/photo/1056910">www.sxc.hu/photo/1056910</a></li>
        <li>Apples by <a href="http://www.sxc.hu/profile/dydydada">dydydada</a> - <a href="http://www.sxc.hu/photo/1145505">www.sxc.hu/photo/1145505</a></li>
        <li>Tomatoes by <a href="http://www.sxc.hu/profile/edmondo">edmondo</a> - <a href="http://www.sxc.hu/photo/1163182">www.sxc.hu/photo/1163182</a></li>
        <li>Carrots by <a href="http://www.sxc.hu/profile/bradimarte">bradimarte</a> - <a href="http://www.sxc.hu/photo/738463">www.sxc.hu/photo/738463</a></li>
        <li>Eggs by <a href="http://www.sxc.hu/profile/13dede">13dede</a> - <a href="http://www.sxc.hu/photo/1079139">www.sxc.hu/photo/1079139</a></li>
    </ul>
</div><!-- .image_attribution -->
